awscli==1.14.50
bleach==2.0.0
botocore==1.9.3
certifi==2018.1.18
click==6.7
click-plugins==1.0.3
cligj==0.4.0
colorama==0.3.7
cycler==0.10.0
Cython==0.27.3
decorator==4.2.1
descartes==1.1.0
entrypoints==0.2.3
Fiona==1.7.11.post1
GDAL==2.2.2
geojson==2.3.0
geopandas==0.3.0
html5lib==1.0.1
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
MarkupSafe==1.0
matplotlib==2.1.2
mistune==0.8.3
munch==2.2.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.0
numpy==1.14.1
pandas==0.22.0
pandocfilters==1.4.1
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.4.2
-e git+https://github.com/pdollar/coco.git@727b546dd9fa4e4bb113213c98a3925829fac0bf#egg=pycocotools&subdirectory=PythonAPI
Pygments==2.2.0
pyparsing==2.2.0
pyproj==1.9.5.1
python-dateutil==2.6.1
pytz==2018.3
pyzmq==17.0.0
qtconsole==4.3.1
rsa==3.4.2
s3transfer==0.1.13
scipy==1.0.0
Send2Trash==1.5.0
Shapely==1.6.4.post1
simplegeneric==0.8.1
six==1.11.0
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5
widgetsnbextension==3.1.4
xmltodict==0.11.0
